.nav-tabs>li>a:hover,
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: #f5f5f5;
}

.st-block__ui {
	bottom: auto;
	top: 0;
}
.st-block-ui-btn {
	border-top: 0;
	border-bottom: 2px solid #34e0c2;
}

.gio-write {
	width: 100%;
	background-color: transparent;
	margin-top: 20px;
	overflow-y: hidden;
	overflow-x: auto;
}
.gio-preview {
	margin-top: 20px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}