<!DOCTYPE html>
<html>
<head>
	<title><%= title %> | Gists.io</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/s/favicon.ico" rel="icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="/s/css/light.css" id="main-style">
	<link href="//fonts.googleapis.com/css?family=Roboto:400,700,900,300|Roboto+Slab:400,300&amp;subset=latin" rel="stylesheet" type="text/css">
	<style type="text/css"></style>
</head>
<div class="container">
	<div class="main">
		<div class="row">
			<div class="col-md-9 col-lg-9">
				<div class="content">
					<%= if is_loggedin == true do %>
						<a class="logout" href="/logout?redirect=">Log out</a>
					<%= else %>
						<a class="login" href="/login?redirect=">Log in</a>
					<%= end %>
					<h1><%= title %></h1> 
					<%= content %>

				</div>
			</div>
			<%= sidebar %>
		</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$(function() {
	$('a.style-option').click(function(e) {
		e.preventDefault();
		var _this = $(this),
			_link = $('#main-style'),
			_href = _link.prop('href'),
			_url = _href.substring(0, _href.lastIndexOf('/'));
		
		_link.prop('href', _url + '/' + _this.data('style') + '.css');
	});
});
</script>

</body>
</html>