<%= if GistsIO.Utils.is_image(name) do %>
	<img src="/<%= gist["user"]["login"] %>/<%= gist["id"] %>/files/<%= name %>" alt="<%= name %>" />
<%= else %>
	<script src="https://gist.github.com/<%= gist["id"] %>.js?file=<%= name %>"></script>
	<noscript>
		<p><%= name %>
		<pre><%= gist["files"][name]["content"] %></pre>
	</noscript>
<%= end %>